In [1]:
import pandas as pd
import numpy as np

file_name = 'upjong_no_261_2021-09-11.csv'
df = pd.read_csv(file_name, dtype={'종목코드':object}).copy()
df.head()

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,종목명_전처리,...,배당수익률,PERlEPS(2020.12),PBRlBPS (2020.12),PERlEPS(2021.03),PBRlBPS (2021.03),PERlEPS(2021.05),PBRlBPS (2021.05),배당수익률l2020.11,PERlEPS(2020.06),PBRlBPS (2020.06)
0,한국파마 *,78100.0,8600.0,+12.37%,78100.0,78200.0,3588899.0,279786.0,688406.0,한국파마,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,삼아제약 *,23050.0,1550.0,+7.21%,23000.0,23050.0,226300.0,5151.0,219443.0,삼아제약,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,코스맥스엔비티 *,9210.0,580.0,+6.72%,9200.0,9210.0,191697.0,1733.0,127164.0,코스맥스엔비티,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,지엘팜텍 *,1455.0,85.0,+6.20%,1450.0,1455.0,6712248.0,9666.0,12967049.0,지엘팜텍,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,이수앱지스 *,16350.0,950.0,+6.17%,16350.0,16400.0,1619361.0,25924.0,492397.0,이수앱지스,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# *가 있는 경우 코스닥 항목
df.loc[df['종목명'].str.endswith('*'), '코스피/코스닥'] = '코스닥'
df.loc[~df['종목명'].str.endswith('*'), '코스피/코스닥'] = '코스피'
df['코스피/코스닥'].value_counts()

코스닥    90
코스피    59
Name: 코스피/코스닥, dtype: int64

In [3]:
df['시가총액(억원)'] = df['시가총액'].str.replace('[^0-9]', '').astype(int)
df['시가총액(억원)'].head()

C:\Users\ysn65\AppData\Local\Temp/ipykernel_6044/2636884489.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['시가총액(억원)'] = df['시가총액'].str.replace('[^0-9]', '').astype(int)

0    8518
1    1468
2    1900
3     755
4    5425
Name: 시가총액(억원), dtype: int32

In [4]:
df['시가총액순위(전처리)'] = df['시가총액순위'].str.replace('[^0-9]', '').astype(int)
df['시가총액순위(전처리)']

C:\Users\ysn65\AppData\Local\Temp/ipykernel_6044/2954758134.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['시가총액순위(전처리)'] = df['시가총액순위'].str.replace('[^0-9]', '').astype(int)

0        87
1       707
2       569
3      1169
4       164
       ...
144     103
145     986
146      82
147     152
148     121
Name: 시가총액순위(전처리), Length: 149, dtype: int32

In [5]:
df['52주최고'] = df['52주최고l최저'].str.split(' l ', expand=True)[0]
df['52주최저'] = df['52주최고l최저'].str.split(' l ', expand=True)[1]

df['52주최고'] = df['52주최고'].str.replace(',','').astype(int)
df['52주최저'] = df['52주최저'].str.replace(',','').astype(int)

df[['52주최고', '52주최저']].head()

   52주최고  52주최저
0  94800  20000
1  23000  14300
2  12900   7000
3   2390    855
4  25000   6660

In [6]:
df['52주차액'] = df['52주최고'] - df['52주최저']
df['52주차액비율'] = df['52주최고'] / df['52주최저']

df['현재-최고가'] = df['현재가'] - df['52주최고']
df['현재/최고가비율'] = df['현재가'] / df['52주최고']

df[['종목명', '52주차액', '52주차액비율', '52주최고', '52주최저', '현재-최고가', '현재/최고가비율']].head()

         종목명  52주차액   52주차액비율  52주최고  52주최저   현재-최고가  현재/최고가비율
0     한국파마 *  74800  4.740000  94800  20000 -16700.0  0.823840
1     삼아제약 *   8700  1.608392  23000  14300     50.0  1.002174
2  코스맥스엔비티 *   5900  1.842857  12900   7000  -3690.0  0.713953
3     지엘팜텍 *   1535  2.795322   2390    855   -935.0  0.608787
4    이수앱지스 *  18340  3.753754  25000   6660  -8650.0  0.654000

In [7]:
df['목표주가'] = df['투자의견l목표주가'].str.split('  l  ', expand=True)[1]
# .str.replace는 like와 같다   그냥 .replace는 전체 문자 일치 시
df['목표주가'] = df['목표주가'].replace('N/A', np.nan).str.replace(',', '').astype(float)
df['목표주가']

0           NaN
1           NaN
2       14950.0
3           NaN
4           NaN
         ...
144         NaN
145         NaN
146    457143.0
147     40000.0
148         NaN
Name: 목표주가, Length: 149, dtype: float64

In [8]:
df['투자의견'] = df['투자의견l목표주가'].str.split('  l  ', expand=True)[0]
df['투자의견'] = df['투자의견'].replace('N/A', np.nan)
df['매수매도'] = df['투자의견'].str.replace('[0-9.]', '')
df['투자의견'] = df['투자의견'].str.replace('[^0-9.]', '').astype(float)
# astype 또는 to_numeric,  to_numeric은 에러처리 가능
# df['투자의견'] = pd.to_numeric(df['투자의견'])

df[['매수매도', '투자의견']]

C:\Users\ysn65\AppData\Local\Temp/ipykernel_6044/4008508213.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['매수매도'] = df['투자의견'].str.replace('[0-9.]', '')
C:\Users\ysn65\AppData\Local\Temp/ipykernel_6044/4008508213.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['투자의견'] = df['투자의견'].str.replace('[^0-9.]', '').astype(float)

    매수매도  투자의견
0    NaN   NaN
1    NaN   NaN
2     매수   4.0
3    NaN   NaN
4    NaN   NaN
..   ...   ...
144  NaN   NaN
145  NaN   NaN
146   매수   4.0
147   매수   4.0
148  NaN   NaN

[149 rows x 2 columns]

In [9]:
df['동일업종 PER'] = df['동일업종 PER'].str.replace('배', '').astype(float)
df['동일업종 PER']

0      107.03
1      107.03
2      107.03
3      107.03
4      107.03
        ...
144    107.03
145    107.03
146    107.03
147    107.03
148    107.03
Name: 동일업종 PER, Length: 149, dtype: float64

In [10]:
df_per_eps = df.filter(regex='^PERlEPS').copy()
df_per_eps['종목코드'] = df['종목코드']
df_per_eps

,PERlEPS(2021.06),PERlEPS(2020.12),PERlEPS(2021.03),PERlEPS(2021.05),PERlEPS(2020.06),종목코드
0,169.41배 l 461원,NaN,NaN,NaN,NaN,032300
1,N/A l -175원,NaN,NaN,NaN,NaN,009300
2,N/A l -449원,NaN,NaN,NaN,NaN,222040
3,N/A l -67원,NaN,NaN,NaN,NaN,204840
4,N/A l -548원,NaN,NaN,NaN,NaN,086890
...,...,...,...,...,...,...
144,"N/A l -1,133원",NaN,NaN,NaN,NaN,334970
145,"22.73배 l 3,242원",NaN,NaN,NaN,NaN,005257
146,"44.26배 l 7,998원",NaN,NaN,NaN,NaN,006280
147,NaN,NaN,NaN,NaN,N/A l -336원,950210
148,"14,200.00배 l 5원",NaN,NaN,NaN,NaN,065660

In [11]:
# melt --> tidy data 만들기
# 컬럼을 variable로 만든다
df_per_eps_melt = df_per_eps.melt(id_vars='종목코드')
df_pe = df_per_eps_melt.dropna()
df_pe

       종목코드          variable             value
0    032300  PERlEPS(2021.06)  169.41배  l  461원
1    009300  PERlEPS(2021.06)     N/A  l  -175원
2    222040  PERlEPS(2021.06)     N/A  l  -449원
3    204840  PERlEPS(2021.06)      N/A  l  -67원
4    086890  PERlEPS(2021.06)     N/A  l  -548원
..      ...               ...               ...
290  308080  PERlEPS(2020.12)   N/A  l  -1,385원
292  307750  PERlEPS(2020.12)      N/A  l  -80원
383  900120  PERlEPS(2021.03)     N/A  l  -506원
536  004310  PERlEPS(2021.05)      N/A  l  -44원
743  950210  PERlEPS(2020.06)     N/A  l  -336원

[149 rows x 3 columns]

In [12]:
df_pe = df_pe.rename(columns={'variable': 'PER|EPS'})
df_pe

       종목코드           PER|EPS             value
0    032300  PERlEPS(2021.06)  169.41배  l  461원
1    009300  PERlEPS(2021.06)     N/A  l  -175원
2    222040  PERlEPS(2021.06)     N/A  l  -449원
3    204840  PERlEPS(2021.06)      N/A  l  -67원
4    086890  PERlEPS(2021.06)     N/A  l  -548원
..      ...               ...               ...
290  308080  PERlEPS(2020.12)   N/A  l  -1,385원
292  307750  PERlEPS(2020.12)      N/A  l  -80원
383  900120  PERlEPS(2021.03)     N/A  l  -506원
536  004310  PERlEPS(2021.05)      N/A  l  -44원
743  950210  PERlEPS(2020.06)     N/A  l  -336원

[149 rows x 3 columns]

In [13]:
df_pe['PER'] = df_pe['value'].str.split(' l ', expand=True)[0]
df_pe['EPS'] = df_pe['value'].str.split(' l ', expand=True)[1]

df_pe['PER'] = df_pe['PER'].replace('N/A', np.nan)
df_pe['EPS'] = df_pe['EPS'].replace('N/A', np.nan)

df_pe = df_pe[df_pe['PER'].notnull() | df_pe['EPS'].notnull()].copy()
df_pe['PER(배)'] = df_pe['PER'].str.replace('[^0-9.]', '')#.astype(float)
df_pe['EPS(원)'] = df_pe['EPS'].str.replace('원|,', '').astype(int)
df_pe = df_pe[['종목코드', 'PER|EPS', 'PER(배)', 'EPS(원)']].copy()
df_pe

C:\Users\ysn65\AppData\Local\Temp/ipykernel_6044/3083243329.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pe['PER(배)'] = df_pe['PER'].str.replace('[^0-9.]', '')#.astype(float)
C:\Users\ysn65\AppData\Local\Temp/ipykernel_6044/3083243329.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pe['EPS(원)'] = df_pe['EPS'].str.replace('원|,', '').astype(int)

       종목코드           PER|EPS  PER(배)  EPS(원)
0    032300  PERlEPS(2021.06)  169.41     461
1    009300  PERlEPS(2021.06)            -175
2    222040  PERlEPS(2021.06)            -449
3    204840  PERlEPS(2021.06)             -67
4    086890  PERlEPS(2021.06)            -548
..      ...               ...     ...     ...
290  308080  PERlEPS(2020.12)           -1385
292  307750  PERlEPS(2020.12)             -80
383  900120  PERlEPS(2021.03)            -506
536  004310  PERlEPS(2021.05)             -44
743  950210  PERlEPS(2020.06)            -336

[149 rows x 4 columns]

In [14]:
print(df_pe.duplicated('종목코드').value_counts())
df_pe[df_pe.duplicated('종목코드')]
df_pe = df_pe.sort_values(['종목코드', 'PER|EPS'])
df_pe = df_pe.drop_duplicates()

False    149
dtype: int64

In [15]:
# array[1] , 즉 모든 값이 unique하다
df_pe['종목코드'].value_counts().unique()

array([1], dtype=int64)

In [16]:
df_pbr_bps = df.filter(regex='PBRlBPS').copy()
df_pbr_bps['종목코드'] = df['종목코드']
df_pbr_bps

,PBRlBPS (2021.06),PBRlBPS (2020.12),PBRlBPS (2021.03),PBRlBPS (2021.05),PBRlBPS (2020.06),종목코드
0,"17.16배 l 4,551원",NaN,NaN,NaN,NaN,032300
1,"0.84배 l 27,352원",NaN,NaN,NaN,NaN,009300
2,"3.33배 l 2,769원",NaN,NaN,NaN,NaN,222040
3,5.33배 l 273원,NaN,NaN,NaN,NaN,204840
4,"8.19배 l 1,997원",NaN,NaN,NaN,NaN,086890
...,...,...,...,...,...,...
144,"6.11배 l 2,480원",NaN,NaN,NaN,NaN,334970
145,"3.62배 l 20,381원",NaN,NaN,NaN,NaN,005257
146,"3.61배 l 98,182원",NaN,NaN,NaN,NaN,006280
147,NaN,NaN,NaN,NaN,"3.61배 l 9,552원",950210
148,"6.53배 l 10,875원",NaN,NaN,NaN,NaN,065660

In [17]:
df_pbr_bps_melt =  df_pbr_bps.melt(id_vars='종목코드').copy()
df_pb = df_pbr_bps_melt.dropna()
df_pb = df_pb.rename(columns={'variable':'PBR|BPS'})
df_pb['PBR'] = df_pb['value'].str.split(' l ', expand=True)[0]
df_pb['BPS'] = df_pb['value'].str.split(' l ', expand=True)[1]
df_pb['PBR']= df_pb['PBR'].replace('N/A', np.NaN)
df_pb['BPS']= df_pb['BPS'].replace('N/A', np.NaN)
df_pb['PBR(배)'] = df_pb['PBR'].str.replace('배', '')#.astype(float)
df_pb['BPS(원)'] = df_pb['BPS'].str.replace('원|,', '')#.astype(float)
df_pb

C:\Users\ysn65\AppData\Local\Temp/ipykernel_6044/658265538.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_pb['BPS(원)'] = df_pb['BPS'].str.replace('원|,', '')#.astype(float)

,종목코드,PBR|BPS,value,PBR,BPS,PBR(배),BPS(원)
0,032300,PBRlBPS (2021.06),"17.16배 l 4,551원",17.16배,"4,551원",17.16,4551
1,009300,PBRlBPS (2021.06),"0.84배 l 27,352원",0.84배,"27,352원",0.84,27352
2,222040,PBRlBPS (2021.06),"3.33배 l 2,769원",3.33배,"2,769원",3.33,2769
3,204840,PBRlBPS (2021.06),5.33배 l 273원,5.33배,273원,5.33,273
4,086890,PBRlBPS (2021.06),"8.19배 l 1,997원",8.19배,"1,997원",8.19,1997
...,...,...,...,...,...,...,...
290,308080,PBRlBPS (2020.12),"21.16배 l 2,330원",21.16배,"2,330원",21.16,2330
292,307750,PBRlBPS (2020.12),"7.08배 l 1,660원",7.08배,"1,660원",7.08,1660
383,900120,PBRlBPS (2021.03),"0.08배 l 3,239원",0.08배,"3,239원",0.08,3239
536,004310,PBRlBPS (2021.05),"1.87배 l 3,254원",1.87배,"3,254원",1.87,3254
743,950210,PBRlBPS (2020.06),"3.61배 l 9,552원",3.61배,"9,552원",3.61,9552

In [20]:
# 값이 나오지 않는다는 것 = 중복된 데이터 없음
df_pb[df_pb.duplicated(['종목코드'])]

Empty DataFrame
Columns: [종목코드, PBR|BPS, value, PBR, BPS, PBR(배), BPS(원)]
Index: []

In [21]:
df_pb = df_pb[['종목코드', 'PBR|BPS', 'PBR(배)', 'BPS(원)']]
df_pb

       종목코드            PBR|BPS  PBR(배)  BPS(원)
0    032300  PBRlBPS (2021.06)  17.16     4551
1    009300  PBRlBPS (2021.06)   0.84    27352
2    222040  PBRlBPS (2021.06)   3.33     2769
3    204840  PBRlBPS (2021.06)   5.33      273
4    086890  PBRlBPS (2021.06)   8.19     1997
..      ...                ...     ...     ...
290  308080  PBRlBPS (2020.12)  21.16     2330
292  307750  PBRlBPS (2020.12)   7.08     1660
383  900120  PBRlBPS (2021.03)   0.08     3239
536  004310  PBRlBPS (2021.05)   1.87     3254
743  950210  PBRlBPS (2020.06)   3.61     9552

[149 rows x 4 columns]