In [1]:
import pandas as pd
import numpy as np

file_name = 'upjong_no_261_2021-09-11.csv'
df = pd.read_csv(file_name, dtype={'종목코드':object}).copy()
df.head()

,종목명,현재가,전일비,등락률,매수호가,매도호가,거래량,거래대금,전일거래량,종목명_전처리,...,배당수익률,PERlEPS(2020.12),PBRlBPS (2020.12),PERlEPS(2021.03),PBRlBPS (2021.03),PERlEPS(2021.05),PBRlBPS (2021.05),배당수익률l2020.11,PERlEPS(2020.06),PBRlBPS (2020.06)
0,한국파마 *,78100.0,8600.0,+12.37%,78100.0,78200.0,3588899.0,279786.0,688406.0,한국파마,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,삼아제약 *,23050.0,1550.0,+7.21%,23000.0,23050.0,226300.0,5151.0,219443.0,삼아제약,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,코스맥스엔비티 *,9210.0,580.0,+6.72%,9200.0,9210.0,191697.0,1733.0,127164.0,코스맥스엔비티,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,지엘팜텍 *,1455.0,85.0,+6.20%,1450.0,1455.0,6712248.0,9666.0,12967049.0,지엘팜텍,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,이수앱지스 *,16350.0,950.0,+6.17%,16350.0,16400.0,1619361.0,25924.0,492397.0,이수앱지스,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# *가 있는 경우 코스닥 항목
df.loc[df['종목명'].str.endswith('*'), '코스피/코스닥'] = '코스닥'
df.loc[~df['종목명'].str.endswith('*'), '코스피/코스닥'] = '코스피'
df['코스피/코스닥'].value_counts()

코스닥    90
코스피    59
Name: 코스피/코스닥, dtype: int64

In [3]:
df['시가총액(억원)'] = df['시가총액'].str.replace('[^0-9]', '').astype(int)
df['시가총액(억원)'].head()

C:\Users\ysn65\AppData\Local\Temp/ipykernel_15704/2636884489.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['시가총액(억원)'] = df['시가총액'].str.replace('[^0-9]', '').astype(int)

0    8518
1    1468
2    1900
3     755
4    5425
Name: 시가총액(억원), dtype: int32

In [4]:
df['시가총액순위(전처리)'] = df['시가총액순위'].str.replace('[^0-9]', '').astype(int)
df['시가총액순위(전처리)']

C:\Users\ysn65\AppData\Local\Temp/ipykernel_15704/2954758134.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['시가총액순위(전처리)'] = df['시가총액순위'].str.replace('[^0-9]', '').astype(int)

0        87
1       707
2       569
3      1169
4       164
       ...
144     103
145     986
146      82
147     152
148     121
Name: 시가총액순위(전처리), Length: 149, dtype: int32

In [5]:
df['52주최고'] = df['52주최고l최저'].str.split(' l ', expand=True)[0]
df['52주최저'] = df['52주최고l최저'].str.split(' l ', expand=True)[1]

df['52주최고'] = df['52주최고'].str.replace(',','').astype(int)
df['52주최저'] = df['52주최저'].str.replace(',','').astype(int)

df[['52주최고', '52주최저']].head()

   52주최고  52주최저
0  94800  20000
1  23000  14300
2  12900   7000
3   2390    855
4  25000   6660

In [6]:
df['52주차액'] = df['52주최고'] - df['52주최저']
df['52주차액비율'] = df['52주최고'] / df['52주최저']

df['현재-최고가'] = df['현재가'] - df['52주최고']
df['현재/최고가비율'] = df['현재가'] / df['52주최고']

df[['종목명', '52주차액', '52주차액비율', '52주최고', '52주최저', '현재-최고가', '현재/최고가비율']].head()

         종목명  52주차액   52주차액비율  52주최고  52주최저   현재-최고가  현재/최고가비율
0     한국파마 *  74800  4.740000  94800  20000 -16700.0  0.823840
1     삼아제약 *   8700  1.608392  23000  14300     50.0  1.002174
2  코스맥스엔비티 *   5900  1.842857  12900   7000  -3690.0  0.713953
3     지엘팜텍 *   1535  2.795322   2390    855   -935.0  0.608787
4    이수앱지스 *  18340  3.753754  25000   6660  -8650.0  0.654000

In [9]:
df['목표주가'] = df['투자의견l목표주가'].str.split('  l  ', expand=True)[1]
# .str.replace는 like와 같다   그냥 .replace는 전체 문자 일치 시
df['목표주가'] = df['목표주가'].replace('N/A', np.nan).str.replace(',', '').astype(float)
df['목표주가']

0           NaN
1           NaN
2       14950.0
3           NaN
4           NaN
         ...
144         NaN
145         NaN
146    457143.0
147     40000.0
148         NaN
Name: 목표주가, Length: 149, dtype: float64

In [13]:
df['투자의견'] = df['투자의견l목표주가'].str.split('  l  ', expand=True)[0]
df['투자의견'] = df['투자의견'].replace('N/A', np.nan)
df['매수매도'] = df['투자의견'].str.replace('[0-9.]', '')
df['투자의견'] = df['투자의견'].str.replace('[^0-9.]', '').astype(float)
# astype 또는 to_numeric,  to_numeric은 에러처리 가능
# df['투자의견'] = pd.to_numeric(df['투자의견'])

df[['매수매도', '투자의견']]

C:\Users\ysn65\AppData\Local\Temp/ipykernel_15704/1671000956.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['매수매도'] = df['투자의견'].str.replace('[0-9.]', '')
C:\Users\ysn65\AppData\Local\Temp/ipykernel_15704/1671000956.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['투자의견'] = df['투자의견'].str.replace('[^0-9.]', '').astype(float)

    매수매도  투자의견
0    NaN   NaN
1    NaN   NaN
2     매수   4.0
3    NaN   NaN
4    NaN   NaN
..   ...   ...
144  NaN   NaN
145  NaN   NaN
146   매수   4.0
147   매수   4.0
148  NaN   NaN

[149 rows x 2 columns]

In [14]:
df['동일업종 PER'] = df['동일업종 PER'].str.replace('배', '').astype(float)
df['동일업종 PER']

0      107.03
1      107.03
2      107.03
3      107.03
4      107.03
        ...
144    107.03
145    107.03
146    107.03
147    107.03
148    107.03
Name: 동일업종 PER, Length: 149, dtype: float64