In [20]:
import pandas as pd
import numpy as np
import requests
import datetime

In [13]:
url = 'https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc&_callback='
url

'https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc&_callback='

In [15]:
response = requests.get(url)
etf_json = response.json()

In [18]:
etfItemList = etf_json['result']['etfItemList']
df = pd.DataFrame(etfItemList)

In [19]:
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,41930,2,270,0.65,41979.0,-3.1976,2807005,117551,54593
1,102110,1,TIGER 200,41960,2,270,0.65,42009.0,-3.1484,992124,41597,23225
2,153130,6,KODEX 단기채권,102885,2,10,0.01,102883.0,0.0291,7598,781,20968
3,252670,3,KODEX 200선물인버스2X,2000,5,-25,-1.23,2004.0,5.2631,113442718,227795,20042
4,371460,4,TIGER 차이나전기차SOLACTIVE,16480,5,-670,-3.91,NaN,26.3319,12395343,207101,18702

In [21]:
today = datetime.datetime.today()
today = today.strftime('%Y-%m-%d')
today

'2021-09-04'

In [23]:
file_name = f'eft_{today}_raw.csv'
file_name

'eft_2021-09-04_raw.csv'

In [24]:
df.to_csv(file_name, index=False)

In [26]:
pd.read_csv(file_name, dtype={'itemcode': object})

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,41930,2,270,0.65,41979.0,-3.1976,2807005,117551,54593
1,102110,1,TIGER 200,41960,2,270,0.65,42009.0,-3.1484,992124,41597,23225
2,153130,6,KODEX 단기채권,102885,2,10,0.01,102883.0,0.0291,7598,781,20968
3,252670,3,KODEX 200선물인버스2X,2000,5,-25,-1.23,2004.0,5.2631,113442718,227795,20042
4,371460,4,TIGER 차이나전기차SOLACTIVE,16480,5,-670,-3.91,NaN,26.3319,12395343,207101,18702
...,...,...,...,...,...,...,...,...,...,...,...,...
497,295000,6,KBSTAR 국채선물10년,56120,5,-20,-0.04,56093.0,2.4648,371,20,26
498,287330,2,KBSTAR 200생활소비재,8710,5,-15,-0.17,8700.0,-7.2418,288,2,21
499,334700,5,KBSTAR 팔라듐선물인버스(H),4810,2,35,0.73,NaN,12.2520,115,0,19
500,287310,2,KBSTAR 200경기소비재,11650,2,120,1.04,11648.0,-5.8206,656,7,16
501,287320,2,KBSTAR 200산업재,13015,5,-65,-0.50,13005.0,-6.0967,166,2,16