In [1]:
import pandas as pd

file_name = 'eft_2021-09-04_raw.csv'
df = pd.read_csv(file_name, dtype={'itemcode': object})
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,41930,2,270,0.65,41979.0,-3.1976,2807005,117551,54593
1,102110,1,TIGER 200,41960,2,270,0.65,42009.0,-3.1484,992124,41597,23225
2,153130,6,KODEX 단기채권,102885,2,10,0.01,102883.0,0.0291,7598,781,20968
3,252670,3,KODEX 200선물인버스2X,2000,5,-25,-1.23,2004.0,5.2631,113442718,227795,20042
4,371460,4,TIGER 차이나전기차SOLACTIVE,16480,5,-670,-3.91,NaN,26.3319,12395343,207101,18702
...,...,...,...,...,...,...,...,...,...,...,...,...
497,295000,6,KBSTAR 국채선물10년,56120,5,-20,-0.04,56093.0,2.4648,371,20,26
498,287330,2,KBSTAR 200생활소비재,8710,5,-15,-0.17,8700.0,-7.2418,288,2,21
499,334700,5,KBSTAR 팔라듐선물인버스(H),4810,2,35,0.73,NaN,12.2520,115,0,19
500,287310,2,KBSTAR 200경기소비재,11650,2,120,1.04,11648.0,-5.8206,656,7,16
501,287320,2,KBSTAR 200산업재,13015,5,-65,-0.50,13005.0,-6.0967,166,2,16

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   itemcode            502 non-null    object
 1   etfTabCode          502 non-null    int64
 2   itemname            502 non-null    object
 3   nowVal              502 non-null    int64
 4   risefall            502 non-null    int64
 5   changeVal           502 non-null    int64
 6   changeRate          502 non-null    float64
 7   nav                 358 non-null    float64
 8   threeMonthEarnRate  476 non-null    float64
 9   quant               502 non-null    int64
 10  amonut              502 non-null    int64
 11  marketSum           502 non-null    int64
dtypes: float64(3), int64(7), object(2)
memory usage: 47.2+ KB

In [3]:
etfcode = """전체
국내 시장지수
국내 업종/테마
국내 파생
해외 주식
원자재
채권
기타"""

etfcode

'전체\n국내 시장지수\n국내 업종/테마\n국내 파생\n해외 주식\n원자재\n채권\n기타'

In [4]:
etf_tab_name = etfcode.split('\n')
etf_tab_name

['전체', '국내 시장지수', '국내 업종/테마', '국내 파생', '해외 주식', '원자재', '채권', '기타']

In [5]:
def find_etf_tab_name(no):
    return etf_tab_name[no]

find_etf_tab_name(2)

'국내 업종/테마'

In [6]:
# map : Series에만 사용 가능
# apply: Series, DataFrame 둘 다 사용 가능
df['etfTabName'] = df['etfTabCode'].map(lambda x: etf_tab_name[x])

In [7]:
df.loc[df['etfTabCode'] == 2, ['itemname', 'etfTabName']]

            itemname etfTabName
5         KODEX 삼성그룹   국내 업종/테마
10       TIGER TOP10   국내 업종/테마
16      KODEX 2차전지산업   국내 업종/테마
17      TIGER 200 IT   국내 업종/테마
18      TIGER 2차전지테마   국내 업종/테마
..               ...        ...
495     KBSTAR 모멘텀밸류   국내 업종/테마
496   KBSTAR 200철강소재   국내 업종/테마
498  KBSTAR 200생활소비재   국내 업종/테마
500  KBSTAR 200경기소비재   국내 업종/테마
501    KBSTAR 200산업재   국내 업종/테마

[188 rows x 2 columns]

In [8]:
cols = df.columns.tolist()
cols

['itemcode',
 'etfTabCode',
 'itemname',
 'nowVal',
 'risefall',
 'changeVal',
 'changeRate',
 'nav',
 'threeMonthEarnRate',
 'quant',
 'amonut',
 'marketSum',
 'etfTabName']

In [9]:
col_name = """종목코드
탭코드
종목명
현재가
등락구분
전일비
등락률
순자산가치(NAV)
3개월수익률
거래량
거래대금(백만)
시가총액(억)
유형"""

col_name = col_name.split('\n')
col_name

['종목코드',
 '탭코드',
 '종목명',
 '현재가',
 '등락구분',
 '전일비',
 '등락률',
 '순자산가치(NAV)',
 '3개월수익률',
 '거래량',
 '거래대금(백만)',
 '시가총액(억)',
 '유형']

In [10]:
dict(zip(cols, col_name))

{'itemcode': '종목코드',
 'etfTabCode': '탭코드',
 'itemname': '종목명',
 'nowVal': '현재가',
 'risefall': '등락구분',
 'changeVal': '전일비',
 'changeRate': '등락률',
 'nav': '순자산가치(NAV)',
 'threeMonthEarnRate': '3개월수익률',
 'quant': '거래량',
 'amonut': '거래대금(백만)',
 'marketSum': '시가총액(억)',
 'etfTabName': '유형'}

In [11]:
df.columns = col_name
df.columns

Index(['종목코드', '탭코드', '종목명', '현재가', '등락구분', '전일비', '등락률', '순자산가치(NAV)',
       '3개월수익률', '거래량', '거래대금(백만)', '시가총액(억)', '유형'],
      dtype='object')

In [12]:
df['종목명'].str.split(' ')[0]

['KODEX', '200']

In [13]:
# expand=True하면 각 행별로 인덱스 번호에 해당하는 데이터를 가져올 수 있다
df['종목명'].str.split(' ', expand=True)[0]

0       KODEX
1       TIGER
2       KODEX
3       KODEX
4       TIGER
        ...
497    KBSTAR
498    KBSTAR
499    KBSTAR
500    KBSTAR
501    KBSTAR
Name: 0, Length: 502, dtype: object

In [14]:
df['브랜드'] = df['종목명'].str.split(' ', expand=True)[0]
df[['종목명', '브랜드']].head()

                     종목명    브랜드
0              KODEX 200  KODEX
1              TIGER 200  TIGER
2             KODEX 단기채권  KODEX
3       KODEX 200선물인버스2X  KODEX
4  TIGER 차이나전기차SOLACTIVE  TIGER

In [15]:
df['브랜드'].unique()

array(['KODEX', 'TIGER', 'KBSTAR', 'ARIRANG', 'KINDEX', 'HANARO', 'KOSEF',
       'SOL', 'TIMEFOLIO', '네비게이터', '파워', 'FOCUS', 'KTOP', 'TREX', '마이다스',
       '마이티', 'HK'], dtype=object)

In [16]:
df['인버스'] = df['종목명'].str.contains('인버스')
df['인버스'].value_counts()

False    460
True      42
Name: 인버스, dtype: int64

In [17]:
df['레버리지'] = df['종목명'].str.contains('레버리지')
#df['레버리지'].value_counts()

# 비율로 보기
df['레버리지'].value_counts(normalize=True) * 100

False    93.426295
True      6.573705
Name: 레버리지, dtype: float64

In [18]:
# (H) 환율변동의 위험을 막기 위한 Hedge 상품
df['환헤지H'] = df['종목명'].str.endswith('H)')
df[['종목명', '환헤지H']].head()

                     종목명   환헤지H
0              KODEX 200  False
1              TIGER 200  False
2             KODEX 단기채권  False
3       KODEX 200선물인버스2X  False
4  TIGER 차이나전기차SOLACTIVE  False

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   종목코드        502 non-null    object
 1   탭코드         502 non-null    int64
 2   종목명         502 non-null    object
 3   현재가         502 non-null    int64
 4   등락구분        502 non-null    int64
 5   전일비         502 non-null    int64
 6   등락률         502 non-null    float64
 7   순자산가치(NAV)  358 non-null    float64
 8   3개월수익률      476 non-null    float64
 9   거래량         502 non-null    int64
 10  거래대금(백만)    502 non-null    int64
 11  시가총액(억)     502 non-null    int64
 12  유형          502 non-null    object
 13  브랜드         502 non-null    object
 14  인버스         502 non-null    bool
 15  레버리지        502 non-null    bool
 16  환헤지H        502 non-null    bool
dtypes: bool(3), float64(3), int64(7), object(4)
memory usage: 56.5+ KB

In [20]:
save_file_name = file_name.replace('_raw', '')
save_file_name

'eft_2021-09-04.csv'

In [21]:
df.to_csv(save_file_name, index=False)

In [22]:
pd.read_csv(save_file_name, dtype={'종목코드':object})

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형,브랜드,인버스,레버리지,환헤지H
0,069500,1,KODEX 200,41930,2,270,0.65,41979.0,-3.1976,2807005,117551,54593,국내 시장지수,KODEX,False,False,False
1,102110,1,TIGER 200,41960,2,270,0.65,42009.0,-3.1484,992124,41597,23225,국내 시장지수,TIGER,False,False,False
2,153130,6,KODEX 단기채권,102885,2,10,0.01,102883.0,0.0291,7598,781,20968,채권,KODEX,False,False,False
3,252670,3,KODEX 200선물인버스2X,2000,5,-25,-1.23,2004.0,5.2631,113442718,227795,20042,국내 파생,KODEX,True,False,False
4,371460,4,TIGER 차이나전기차SOLACTIVE,16480,5,-670,-3.91,NaN,26.3319,12395343,207101,18702,해외 주식,TIGER,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497,295000,6,KBSTAR 국채선물10년,56120,5,-20,-0.04,56093.0,2.4648,371,20,26,채권,KBSTAR,False,False,False
498,287330,2,KBSTAR 200생활소비재,8710,5,-15,-0.17,8700.0,-7.2418,288,2,21,국내 업종/테마,KBSTAR,False,False,False
499,334700,5,KBSTAR 팔라듐선물인버스(H),4810,2,35,0.73,NaN,12.2520,115,0,19,원자재,KBSTAR,True,False,True
500,287310,2,KBSTAR 200경기소비재,11650,2,120,1.04,11648.0,-5.8206,656,7,16,국내 업종/테마,KBSTAR,False,False,False
501,287320,2,KBSTAR 200산업재,13015,5,-65,-0.50,13005.0,-6.0967,166,2,16,국내 업종/테마,KBSTAR,False,False,False