In [5]:
import numpy as np
import FinanceDataReader as fdr
df = fdr.DataReader('005930', '2020', '2021')
df.tail()

             Open   High    Low  Close    Volume    Change
Date
2020-12-23  72400  74000  72300  73900  19411326  0.022130
2020-12-24  74100  78800  74000  77800  32502870  0.052774
2020-12-28  79000  80100  78200  78700  40085044  0.011568
2020-12-29  78800  78900  77300  78300  30339449 -0.005083
2020-12-30  77400  81300  77300  81000  29417421  0.034483

In [2]:
# 20일간 종가의 이동평균
df['MA20'] = df['Close'].rolling(20).mean()

Date
2020-01-02        NaN
2020-01-03        NaN
2020-01-06        NaN
2020-01-07        NaN
2020-01-08        NaN
               ...
2020-12-23    71655.0
2020-12-24    72145.0
2020-12-28    72670.0
2020-12-29    73250.0
2020-12-30    73910.0
Name: Close, Length: 248, dtype: float64

In [3]:
# 기술 통계값
df['Close'].describe()

count      248.000000
mean     57153.225806
std       7061.870134
min      42500.000000
25%      52275.000000
50%      56800.000000
75%      60100.000000
max      81000.000000
Name: Close, dtype: float64

In [4]:
# 분산
df['Close'].var()

49870009.79495885

In [7]:
# 표준편차 == 분산의 제곱근
#df['Close'].var() **0.5
#np.sqrt(df['Close'].var())
df['Close'].std()

7061.870134387835